
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<style>
    h1 {
        font-family: cursive;
        margin-top: -109%;
        margin-left: 40%;
    }

    .subtitle {
        font-family: revert;
        margin-top: 15%;
        margin-left: 40%;
    }

    .value {
        margin-left: 40%;
    }
</style>
<html style="background-color: white">
<body>
    <h1>Iletisim</h1>
    <hr />
    <div class="subtitle"><b> Adres</b> </div>
    <div class="value"> Yakuplu Mahallesi Kavaklı Caddesi<br />Güney Konakları A Blok Kat:3 Daire:5<br />Beylikdüzü İstanbul<br /></div>
    <div class="value"><a href="tel:+905370655114"><bdo dir="ltr">+90 537 065 51 14</bdo></a></div>
    <div class="value"><b> E-Mail</b> </div><div class="value"> <a href="mailto:tr.info@motorsport.com">tr.info@motorsport.com</a> </div>
</body>
</html>

